.sbHolder{
	position: relative;
	background-color: #f1f1f1;
	border: solid 1px #C6C6C6;
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
	font-family: Arial, sans-serif;
	font-size: 14px;
	height: 22px;
	width: 160px;
}
.sbSelector{
	display: block;
	position: absolute;
	outline: none;
	overflow: hidden;
	line-height: 22px;
	top: 0;
	left: 0;
	height: 22px;
	width: 160px;
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
	color: #000;
	outline: none;
	text-decoration: none;
}
.sbToggle{
	display: block;
	height: 22px;
	outline: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 22px;
}
.sbToggle:hover{
}
.sbToggleOpen{
}
.sbToggleOpen:hover{
}
.sbOptions{
	background-color: #f1f1f1;
	border: solid 1px #C6C6C6;
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
	list-style: none;
	left: -1px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 22px;
	width: 160px;
	z-index: 1;
	overflow-y: auto;
}
.sbOptions a{
	border-bottom: dotted 1px #515151;
	display: block;
	outline: none;
	padding: 4px 0 4px 0;
}
.sbOptions a:link, .sbOptions a:visited{
	color: #000;
	text-decoration: none;
}
.sbOptions a:hover{
	color: red; 
   background-color: #c1c1c1;
	background-image: -webkit-linear-gradient(top,#c8c8c8,#c1c1c1);
	background-image: -moz-linear-gradient(top,#c8c8c8,#c1c1c1);
	background-image: -ms-linear-gradient(top,#c8c8c8,#c1c1c1);
	background-image: -o-linear-gradient(top,#c8c8c8,#c1c1c1);
	background-image: linear-gradient(top,#c8c8c8,#c1c1c1);
}
.sbOptions li.last a{
	border-bottom: none;
}
